.ctn-cardanimal{
    background-color: #A7A000;
    width: 20%;
    height: 54vh;
    border: 2px solid #555;
}

.ctn-cardanimal > img {
    width: 50%;
    height: 50%;
}

.ctn-cardanimal > p {
    font-size: 2rem;
}

.ctn-cardanimais{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 75%;
    margin: 2% auto;
}